# node modules
node_modules
npm-debug.log
yarn-debug.log
yarn-error.log

# build output
dist

# local environments
.env
.env.local

# editor files
*.swp
*.swo
*.idea
.vscode
.DS_Store

# git
.git
.gitignore

# frontend accidentally
frontend